<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>MakersBNB - Book a Space</title>
  <link rel="stylesheet" type="text/css" href="">
</head>

<body>
  <div class="header">
    <a href="" class="logo">Logo</a>
    <div class="header-right">
      <a class="active" href="/rooms">Rooms</a>
      <a href="/bookings">Bookings</a>
      {% if "user_id" in session %}
      <a href="/logout">Sign Out</a>
      {% else %}
      <a href="/login">Log In</a>
      {% endif %}
    </div>

    <center>
      <h1>Book a Space</h1>

      <form action="/rooms" target="_blank">
        <button type="submit">List a Space</button>
      </form>
    </center>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
      // Show the popup alert
      alert("Booking successful!");
    </script>
    {% endif %}
    {% endwith %}

    {% for room in rooms %}
    <p>
      Name: <a href="/rooms/{{ room.id }}">{{ room.name }}</a><br>
      Description: {{ room.description }}<br>
      Price: £{{ room.price }}
    </p><br>
    {% endfor %}
</body>

</html>