<!DOCTYPE html>
<html>

<head>
  <title>Book a Space - {{ room.name }}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/room_show.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <style>
    body {
      background-image: url("/static/background.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  </style>
</head>

<body>
  <div class="header">
    <a href="" class="logo">
      <img src="/static/logo.png" alt="MakersBNB Logo">
    </a>
    <div class="menu-right">
      <a href="/rooms">Rooms</a>
      <a href="/bookings">Bookings</a>
      {% if "user_id" in session %}
      <a href="/logout">Sign Out</a>
      {% else %}
      <a href="/login">Log In</a>
      <a href="/register">Register</a>
      {% endif %}
    </div>
  </div>

  <center>
    <h1>{{ room.name }}</h1>
    <p class="room-details">
      Description: {{ room.description }}<br>
      Price: £{{ room.price }}
    </p>
    <br><br>
    <form>
      <input type="button" value="Request Booking" class="request-button"
        onclick="window.location.href='/rooms/{{ room.id }}/booking_request/'">
      <input type="button" value="Back" class="back-button" onclick="window.location.href='/rooms'">

    </form>
  </center>
</body>