<!DOCTYPE html>
<html>

<head>
  <title>Book a Space - {{ room.name }}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/room_show.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <style>
    .unavailable-date span {
      background-color: #ccc !important;
      color: #999 !important;
    }
  </style>
</head>

<body>
  <div class="header">
    <a href="#default" class="logo">Logo</a>
    <div class="header-right">
      <a class="active" href="/rooms">Rooms</a>
      <a href="/bookings">Bookings</a>
      {% if "user_id" in session %}
      <a href="/logout">Sign Out</a>
      {% else %}
      <a href="/login">Log In</a>
      {% endif %}
    </div>
  </div>
  <center>
    <h1>{{ room.name }}</h1>
    <p class="custom-test">
      Description: {{ room.description }}<br>
      Price: £{{ room.price }}
    </p>
    <br><br>
    <form>
      <input type="button" value="Request Booking" class="request-button"
        onclick="window.location.href='/rooms/{{ room.id }}/booking_request/'">
      <input type="button" value="Back" class="back-button" onclick="window.location.href='/rooms'">

    </form>
  </center>
</body>

</html>