body{
    background-color:#ffffff;
    font-family:Georgia, serif;
}

#header_div{
	position: sticky;
	top: 0;
	left: 0px;
	right: 0px;
	height: 90px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	z-index: 1;
}

/*Nav CSS*/
#menulinks_div{
	position: absolute;
	right: 50px;
	top: 0px;
	margin: 0px;
	font-size: 0.9833em;
	list-style-type: none;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	color: #2D2E2E;
	color: #626A6A;
}
/*Nav CSS End*/


#title_div{
    text-align:center;
    color:#000000;
    background-color:#ffffff;
}

#topflavour_div{
    text-align:center;
    font-size:14px;
    font-style:normal;
    font-weight:normal;
    color:#000000;
    background-color:#ffffff;
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}

#requestedBookings_div{
    width:50%;
    overflow:auto;
}

