.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  font-weight: bold;
  text-decoration: none;
  color: #333;
  margin-left: 10px;
  margin-bottom: auto;
}

.menu-right {
  text-align: right;
  font-family: "Arial", sans-serif;
  font-size: x-large;
  margin-top: -10px;
}

.menu-right a {
  vertical-align: top;
  margin-left: 10px;
  text-decoration: none;
  color: #ede9e9;
  padding: 5px 8px;
}

.menu-right a:hover {
  color: #8e8e8e;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
}

.room-details {
  text-align: center;
  margin-top: 0;
  font-family: "Arial", sans-serif;
  font-size: large;
  color: #000000;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
}

.room-details p {
  margin-bottom: 0;
}

form {
  width: 300px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.list-space-form {
  width: 100px;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
}

input[type="button"],
input[type="text"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  border: none;
}

input[type="submit"]:hover {
  background-color: #2c872f;
  color: #fff;
  border: none;
  cursor: pointer;
}

.request-button {
  background-color: #f8a312;
  color: #fff;
  margin-top: 3%;
}

.request-button:hover {
  background-color: #be7e11;
}

.back-button {
  background-color: #ec433d;
  color: #fff;
}

.back-button:hover {
  background-color: #e22822;
  color: #fff;
}

.error-message {
  text-align: center;
  color: red;
  padding: 10px;
  background-color: #f44336;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  z-index: 1;
  border: 1px solid #fff;
  border-radius: 4px;
}

.room-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.room-block {
  width: 300px;
  margin: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.room-block a {
  text-decoration: none;
  color: #333;
}

.room-block h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.room-details {
  margin-top: 10px;
}

.room-details p {
  margin-bottom: 5px;
}

.pagination {
  text-align: center;
}

.pagination a {
  text-decoration: underline;
  color: #261610;
  padding: 5px 8px;
  margin-left: 10px;
  font-family: "Arial", sans-serif;
  font-size: larger;
  font-weight: bold;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  background-color: #e8e8e8; /* Add this line to fill the inline block with a color */
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  display: inline-block;
}

.pagination a:hover {
  color: #ffffff;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  background-color: #9c9c9c; /* Add this line to change the background color when hovered */
}

/* Bookings Show CSS */
h1.title {
  text-align: center;
  margin-top: 50px;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
}

p.description {
  text-align: center;
  margin-top: 50px;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  font-size: 20px;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
}

.booking_card {
  width: 300px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.booking_buttons_card {
  width: 300px;
  padding: 0px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  margin-right: 16px;
}

textarea#description {
  width: 100%;
  height: 100px; /* Set an initial height for the description box */
  resize: vertical; /* Allow vertical resizing */
  overflow: auto; /* Add a vertical scrollbar when content exceeds the available space */
}