<!DOCTYPE html>
<html>

<head>
    <title>All Bookings</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/room_show.css">

</head>

<body>
    <div class="header">
        <a href="/rooms" class="logo">
            <img src="/static/logo.png" alt="MakersBNB Logo">
        </a>
        <div class="menu-right">
            <a href="/rooms">Rooms</a>
            <a href="/requests">Bookings</a>
            {% if "user_id" in session %}
            <a href="/logout">Sign Out</a>
            {% else %}
            <a href="/login">Log In</a>
            <a href="/register">Register</a>
            {% endif %}
        </div>
    </div>

    <ul id="menulinks_div">
        <li id="menuitem"><a href="/rooms">Spaces</a></li>
        <li id="menuitem"><a href="/bookings">Requests</a></li>
        <li id="menuitem"><a href="/signout">Sign out</a></li>
    </ul>

    <div class="parent">
        <div class="child">
            <ul id="requestedBookings_div">
                {% for booking in requestedBookings %}
                <li>
                    <ul>
                        <li>{{booking.name}}</li>
                        <li>{% if booking.confirmation==True %}Confirmed{% else %}Not confirmed{% endif %}</li>
                        <li>{{booking.booking_start}}</li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="child">
            <ul id="bookingRequests_div">
                {% for booking in bookingRequests %}
                <li>
                    <ul>
                        <li>{{booking.name}}</li>
                        <li>{% if booking.confirmation==True %}Confirmed{% else %}Not confirmed{% endif %}</li>
                        <li>{{booking.booking_start}}</li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</body>

</html>