<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="./css/allBookings_styles.css">
<title>
Requests</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="MakersBnB user's booking requests.">
</head>

<div id="header_div">
    <div id="logo">
        <a href="..\pages\home.html"><img id="logo_img" src="..\media\logoimage.png"></img></a>
    </div>
    
    <ul id="menulinks_div">
        <li><a href="home.html">Home</a></li>
        <li><a href="staff.html">Staff</a></li>
        <li><a href="positions.html">Positions</a></li>
        <li><a href="courses.html">Courses</a></li>
    </ul>

<body>
<div id="title_div">Requests</div>
<div id="topflavour_div">All requests made by and for the user {{username}}.</div>

    <ul id="requestedBookings_div">
        {% for booking in requestedBookings %}
            <li>
                <li>{{booking.location}}</li>
                <li>{{booking.confirmation}}</li>
                <li>{{booking.date}}</li>
            </li>
        {% endfor %}
    </ul>

</body>
</html>
