<!DOCTYPE html>
<html>

<head>
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
  <div class="container">
    <h1>Account Login</h1>
    <form action="/login" method="post">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email"><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" value="Log in">
      {% if error_message %}
      <p class="error-message">{{ error_message }}</p>
      {% endif %}
    </form>
  </div>
</body>


</html>