<!DOCTYPE html>
<html>
<head>
    <title>Sign Up To MakersBNB</title>
    <link rel="stylesheet" type="text/css" href="styles.css">

</head>
<body>
    <h1>Feel At Home</h1>
    <p>Discover the perfect stay with MakersBNB. Sign up now to explore unique accommodations around the world.</p>
    <h2>Sign Up To MakersBNB</h2>
    <form method="POST" action="/register">
        <label for="full name">Full Name:</label>
        <input type="text" name="name" required><br><br>
        <label for="email">Email:</label>
        <input type="email" name="email" required><br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required><br><br>
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>